@mixin bordered($color) {
  border: 3px solid $color;
  padding: 10px;
}

h1 {
  font-size: 48px;
  text-align: center;
}

.danger {
  @include bordered(green);
  background-color: green;
  color: red;
  text-align: center;
  width: 400px;
  margin: 20px auto;
}
